root {
    --glass: rgba(255, 255, 255, 0.2);
    --glass-icon: rgba(255, 255, 255, 0.3);
    --gradient: linear-gradient(35deg, red, purple);
    --option: #320a28;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(1, 68, 94);
    background: radial-gradient(circle, rgba(1, 68, 94, 1) 0%, rgba(1, 37, 61, 1) 51%, rgba(0, 5, 25, 1) 100%);
    font-family: 'Poppins', sans-serif;
}

#scene-container {
    height: 50vh;
    width: 50vw;
    position: relative;
}

/* <select> styles */
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}

select option {
    color: inherit;
    background-color: #000;
}

select::-ms-expand {
    display: none;
}

select option[value="0"]{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-between;
}

#set-color{
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 10em;
    height: 3em;
    padding: 0 4em 0 1em;
    background:linear-gradient(to left, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.2));
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

